.coverPhoto {
  width: 100%;
  display: block;
}

.coverPhotoMobile {
  width: 100%;
  display: none;
}

@media screen and (max-width: 425px) {
  .coverPhoto {
    display: none;
  }

  .coverPhotoMobile {
    display: block;
  }
}

