.cover-photo-tablet {
	display: block;
	width: 100vw;
	opacity: 0.5;
}

.cover-photo-container {
	position: relative;
	text-align: center;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cover-photo-mobile {
	display: none;
}

.page-home {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.btn-black {
	background: black;
	color: white;
	border-radius: 10px;
	border-style: none;
	padding: 13px 52px;
	font-family: 'GenuineSansSerif', sans-serif !important;
}
.btn-black:hover {
	box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 80%);
	cursor: pointer;
}
.para-home {
	margin-top: 30px;
	max-width: 437px;
	text-shadow: -2px -2px 0 #fff, 0 -2px 0 #fff, 2px -2px 0 #fff, 2px 0 0 #fff, 2px 2px 0 #fff, 0 2px 0 #fff, -2px 2px 0 #fff, -2px 0 0 #fff;
}

@media screen and (max-width: 768px) {
	.mobile-header-text {
		display: none;
	}

	.btn-black {
		padding: 8px 30px;
	}
}

@media screen and (max-width: 480px) {
	.cover-photo-tablet {
		display: none;
	}

	.cover-photo-mobile {
		display: block;
		width: 100vw;
		opacity: 0.5;
	}

	.p-home {
		font-size: 12px;
	}
}
