#footer {
	bottom: 0;
	width: 100vw;

	text-align: center;
	text-transform: uppercase;
	z-index: 4;

	/* sticky footer */
	margin: 0 auto;
	padding: 80px 40px 10px 40px;
}

.social-hover {
	cursor: pointer;
}

.footer-text {
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 400;
	font-style: normal;
}

.footer-line {
	border: 5px solid #3abdb1;
	width: 60vw;
}

@media screen and (max-width: 480px) {
	#footer {
		padding-left: 10vw;
		padding-right: 10vw;
	}
	.footer-text {
		font-size: 12px;
		line-height: 14.4px;
	}
}
