.page-rarity {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15vh;
	position: relative;
	z-index: 4;
}
.rarity-wrapper {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	max-width: 900px;
	flex-wrap: wrap;
	justify-content: center;
}
.rarity-item {
	padding: 11px;
	text-align: center;
}
.rarity-image {
	margin-bottom: 13px;
	width: 180px;
	height: 180px;
	border-radius: 90px;
	border: 3px solid white;
}
.rarity-text {
	text-shadow: -2px -2px 0 #fff, 0 -2px 0 #fff, 2px -2px 0 #fff, 2px 0 0 #fff, 2px 2px 0 #fff, 0 2px 0 #fff, -2px 2px 0 #fff, -2px 0 0 #fff;
}
.rarity-custom-backend {
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(180deg, #2e8c8e 9.55%, #ffffff 30%, #ffffff 80%, #efb288 100%);
	z-index: 2;
}

@media screen and (max-width: 768px) {
	.page-rarity {
		margin-left: 26px;
		margin-right: 28px;
		margin-top: 30px;
	}
}

@media screen and (max-width: 480px) {
	.rarity-image {
		margin-bottom: 6px;
		width: 120px;
		height: 120px;
		border-radius: 60px;
	}
}
