.header-link-wrapper {
	width: 65%;
	max-width: 890px;
	z-index: 4;
}

.header-link-ul {
	display: flex;
	justify-content: space-around;
}

.header-link-ul li {
	display: inline-block;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	height: 36px;
	justify-content: center;
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 400;
	font-style: normal;
}

.header-link-bottom {
	width: 25px;
	height: 3px;
	background: #f2653c;
	bottom: 0;

	margin: 15px auto;
}

@media screen and (max-width: 768px) {
	.header-link-wrapper {
		display: none;
	}
}
