button {
	padding: 9px 16px;
	max-height: 40px;
	/*box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);*/
	border-color: #f2653c;
	color: #f2653c;
	background-color: white;
	border-radius: 8px;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	margin-top: -1px;
}

#walletButton {
	float: center;
}

#pendingTransaction {
	overflow-wrap: break-word;
}

#mintButton {
	margin-top: 40px;
	margin-bottom: 20px;
	background-color: #f2653c;
	color: white;
}

@media screen and (max-width: 425px) {
	button {
		font-size: 12px;
	}
}

@media screen and (max-width: 375px) {
	button {
		font-size: 10px;
	}
}
